.addBlock {
    width: 44px;
    height: 44px;
    border: 2px dashed #757575;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.addIcon {
    color: #757575;
    font-size: 3rem !important;
}