.userInfo_wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 16px;
}

.userInfo_exitIcon {
  cursor: pointer;
  padding: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}