.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.input {
    width: 256px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 16px;
    color: #ffffff !important;
    border-radius: 6px;
    border: 1px solid transparent;
    border-top: none;
}