$mainColor: #ffffff;

.wrapper {
    padding: 32px;
    color: $mainColor;
}

.sidebarGap {
    margin-left: 250px;
}

@media only screen and (max-width: 768px) {
    .sidebarGap {
        margin: 0;
    }
}