.wrapper {
    max-width: 1296px;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    // grid-gap: 16px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto 30px;
}