.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageBox {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}